.infoPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 0;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
  line-height: 1.3;
  max-width: 800px;
}

.imageContainer {
  width: 100%;
  max-width: 350px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.text {
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  max-width: 700px;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .imageContainer {
    margin-bottom: 20px;
    max-width: 200px;
  }


  .text {
    font-size: 16px;
    padding: 0 20px;
  }
}

